<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.planetory.io">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!-- 로그인 액티비티를 자동 생성할 때 추가된 퍼미션. 필요없음? -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Wi-Fi 정보를 얻기 위해 핸드폰 정보 읽기 위한 퍼미션 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 전화번호를 가지고 오기 위해 핸드폰 정보 읽기 위한 퍼미션 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".TimerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MyWorkHistoryActivity"
            android:label="@string/title_activity_my_work_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".WifiListActivity" />
        <activity
            android:name=".TestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InfoPersonalActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InfoTermsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- android:windowSoftInputMode="adjustResize" -->
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistrationPasswordActivity"
            android:label="@string/title_activity_registration_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ResetPasswordPhoneActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>